@{
    ViewData["Title"] = "Home Page";
}

<form asp-antiforgery="true" method="get">
    <div id="m">
        <div class="container">
            <div class="row centered">
                <h1>Главная страница железнодорожного предприятия!</h1>
            </div>
        </div>
    </div>
</form>